* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --grey: #9f9f9f;
  --yellow: #f49a08;
  --dark-grey: #313131;
  --black: #000;
  --white: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}
.mainContainer {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: fit-content;
  background-color: var(--black);
  padding: 5rem 0.75rem 1.5rem 0.75rem;
  border-radius: 2.5rem;
  width: fit-content;
  margin: auto;
}
.textYellow {
  color: var(--yellow);
}
.rowContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}
.inputDiv {
  background-color: var(--black);
  border: 0;
  color: var(--white);
  font-size: 1.2rem;
}
.item {
  background-color: var(--grey);
  border-radius: 50%;
  padding: 1.25rem;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  border: none;
}
.greyDiv {
  color: var(--black);
}
.darkGreyDiv {
  background-color: var(--dark-grey);
}
.yellowDiv {
  background-color: var(--yellow);
  font-weight: 600;
}

#zeroDiv {
  width: 45%;
  border-radius: 2rem;
}
